@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
    background-color: #181A1B;
    height: 100%;
    margin: 0;
}

$BG_COLOR: theme('colors.zinc.700');
$BG_COLOR_DARKER: theme('colors.zinc.800');

@mixin bg {
    background: $BG_COLOR;
    @apply text-white;
}

.app-section {
    @include app-section;
}
.bg-darker {
    @include bg-darker;
}

.bg-darker {
    @apply bg-zinc-800;
}
